<h1 class="title is-1 has-text-centered"><%= link_to "Anime List", animes_path  %></h1>
<%= form_with(url: search_animes_path, method: :get, local: true) do |form| %>
  <div class="field is-grouped mb-5">
    <%= text_field_tag(:keyword, nil, class:"input", placeholder: 'Search for animes') %>
  </div>
  <div class="field is-grouped mb-5">
    <%= form.label :studio_id, class: 'label' %>
    <div class="control">
      <%= form.collection_select :studio_id, Studio.all, :id, :studio_name, { prompt: 'Select a studio' }, { class: 'select' } %>
    </div>
  </div>
  <div class="control">
    <%= submit_tag("Search", class: "button is-primary") %>
  </div>
<% end %>
<ol>
  <% @animes.each do |anime| %>
  <div class="box">
    <h3 class="title is-6 ">
      <%= link_to anime.title, anime %>
    </h3>
    <p>animated by <%= link_to anime.studio.studio_name, studio_path(anime.studio) %></p>
  </div>
  <% end %>
</ol>

<%= will_paginate @animes %>

